<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="root">
    <ul>
        <!--<li v-for="name in names">
            {{ name }}
        </li>-->

        <li v-for="name in names" v-text="name">
            {{ name }}
        </li>
    </ul>

    <!--<input type="text" v-model="newName" v-on:keyUp="addName">-->
    <input type="text" v-model="newName">
    <!--<button v-on:click="addName">Add name</button>-->
    <button @click="addName">Add name</button>
</div>

    <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>

    <script>
        var app = new Vue({
            el: '#root',
            data: {
                newName: '',
                names: ['Joe', 'Mary', 'Jane', 'Jack']
            },
            methods: {
                addName() {
                    this.names.push(this.newName);
                    this.newName = '';

                }
            },
        })
    </script>
</body>
</html>